.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.cartao {
  position: relative;
  width: 328px;
  padding: 16px;
  height: 68vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 20px 24px 0 gray;
}

.cartao h2 {
  position: absolute;
  bottom: 96px;
  color: white;
  font-size: 32px;
}

.cartao h3 {
  position: absolute;
  bottom: 74px;
  color: white;
  font-size: 18px;
}

.cartao h4 {
  position: absolute;
  bottom: 18px;
  color: white;
  margin-right: 12px;
  font-size: 16px;
}

.cartaoTinder__container {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.swipe {
  position: absolute;
}

.matches {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.matches img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px 36px;
}

.matches h3 {
  margin-left: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
