.corpo{
    background-image: url("img/teste.png");
}
/* - CSS  pagina HOME*/
.principal-home{
    
    width: 600px;
    height: 800px;
    background-color:#efefef;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}
.principal-home>img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 150px;
    margin-right: 150px;
    opacity: 0.8;
}
.principal-home>h1{
   color: #c0c0c0;
    height: 70px;
    font-size: 50px;
    font-variant: small-caps;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
}
.principal-home>h3{
    position: relative;
    left: 70px;
    display: inline-block;
    padding-right: 10px;
    color: #d0d0d0;
    height: 50px;
    font-size: 25px;
    font-variant: small-caps;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
 }


.menu{
    color: #c0c0c0;
height: 70px;
font-size: 20px;
font-variant: small-caps;
font-family: Helvetica;
text-align: center;
font-weight: bold;
}

.menu> a:link {
    color: #c2c2c2;
    text-decoration: none;
}

a:visited {
    color: #c2c2c2;
    text-decoration: none;
}

a:hover {
    color: #848484;
    text-decoration: none;
}

a:active {
    color: #4e4e4e;
    text-decoration: none;
}

/* CSS pagina SOBRE*/
/* CSS pagina CONTATO*/
.principal-contato{
    
    width: 600px;
    height: 700px;
    background-color:#efefef;
    margin-top: 90px;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
}

.principal-contato>h2{
    position: relative;
   
   top:100px; left: 30px;
    display: inline-block;
    
    color: #d0d0d0;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
 }

.principal-contato>h1{
    margin-top: 150px;
    color: #c0c0c0;
     height: 60px;
     font-size: 50px;
     font-family: Helvetica;
     text-align: center;
     font-weight: bold;
 }
 #intro{
    position: relative;
   
    top:150px; left: 0px;
     
     
    color: #d0d0d0;
    font-size: 30px;
    font-variant: small-caps;
    font-family: Helvetica;
    text-align: center;
    font-weight: bold;
 }

  .icones{
      
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 127px;
    margin-right: 127px;
    padding-left: 15px;
    padding-right: 15px;
}
.icones> a:link {
    color: #c2c2c2;
    text-decoration: none;
}

/* CSS pagina PROJETOS*/